.DS_Store
core/.DS_Store
core/assets/.DS_Store
core/assets/MapAssets/.DS_Store
core/assets/FiretruckGreen/.DS_Store
core/assets/MapAssets/.DS_Store
.gradle/6.0/executionHistory/executionHistory.bin
.gradle/6.0/executionHistory/executionHistory.lock
.gradle/6.0/fileHashes/fileHashes.bin
.gradle/6.0/fileHashes/fileHashes.lock
.gradle/6.0/fileHashes/resourceHashesCache.bin
.gradle/6.0/javaCompile/classAnalysis.bin
.gradle/6.0/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/
gradle.properties
gradle.properties
.gradle/6.0/executionHistory/executionHistory.bin
.gradle/6.0/executionHistory/executionHistory.lock
.gradle/6.0/fileHashes/fileHashes.bin
.gradle/6.0/fileHashes/fileHashes.lock
.gradle/6.0/fileHashes/resourceHashesCache.bin
.gradle/6.0/javaCompile/classAnalysis.bin
.gradle/6.0/javaCompile/jarAnalysis.bin
.gradle/6.0/javaCompile/javaCompile.lock
.gradle/6.0/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
core/build/classes/java/main/com/classes/ETFortress.class
core/build/classes/java/main/com/classes/Firestation.class
core/build/classes/java/main/com/classes/Firetruck.class
core/build/classes/java/main/com/classes/ResourceBar.class
core/build/classes/java/main/com/config/Constants.class
core/build/classes/java/main/com/screens/GameScreen.class
core/build/classes/java/main/com/sprites/MovementSprite.class
core/build/libs/junit5-gradle-consumer-1.0.0-SNAPSHOT.jar
*.bin
*.lock
*.bin
